# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
teleBotAdmin/Lib/
teleBotAdmin/Scripts/

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Django specific
*.log
db.sqlite3
media/

# Flask specific
instance/
*.db

# Environments
.env
.env.*

# Pytest / testing
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code and IDE specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
